@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
}
a{
    text-decoration: none!important;
    color: white!important;
}
/* ***********************************Navbar********************************************************************* */
.navbar-bg{
    position: relative;
    z-index: 99;
}
.navbar-brand{  
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Akaya Kanadaka', cursive;
    margin: 1rem;
}
.navbar li{
    padding:0 0.5rem;
}
.navbar li a{
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    
}
.navbar li a:hover{
    color: orange!important;
}
/* *************************************carousel******************************************************************* */    
.hero-section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 17rem;
}
.hero-img-1{
    background-image:linear-gradient(rgb(56 14 14 / 29%), rgb(95 30 30 / 40%)), url("https://images.pexels.com/photos/3566357/pexels-photo-3566357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.hero-img-2{
    background-image:linear-gradient(rgb(56 14 14 / 29%), rgb(95 30 30 / 40%)), url("https://images.pexels.com/photos/2987564/pexels-photo-2987564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.hero-img-3{
    background-image:linear-gradient(rgb(56 14 14 / 29%), rgb(95 30 30 / 40%)), url("https://images.pexels.com/photos/3764353/pexels-photo-3764353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.main-heading{
    font-size: 6rem;
    color: rgb(238 238 238);
    font-weight: bolder;
    word-spacing: 0.5rem;
    margin-bottom: .5rem;
    margin-top: 0;
    letter-spacing:0.2rem;
    font-family: 'Righteous', cursive;
}
.main-para{
    color: white;
    font-size: 3rem;
    font-family: 'Akaya Kanadaka', cursive;
}
.main-btn{
    border: none;
    box-shadow: 0px 0px 5px #3d0000;
    padding: 1.5rem 3.5rem;
    border-radius: 3px;
    font-weight: 600;
    color:white;
    font-size: 2rem;
    box-shadow: 0 0 10px 0 black;
}
/* ********************************************deals**************************************** */
.deals{
    width: 100%;
    height: auto;
    margin: 10rem 0;
}
.deals-img{
    background-image:url('http://www.burgerharbour.com/assest/img/combo.svg');
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: center;
}
.deals .main-heading{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    font-weight: bolder;
    color: brown;
}
.deals .main-para{
    font-size: 2.2rem;
    color: black;
    margin: 3rem;
}
/* ************************************menu****************************************** */
.menu{
    width: 100%;
    height: auto;
}
.our_menu{
    background: linear-gradient(to right, #f05555, #f44e4d, #f84645, #fc3e3d, #ff3434);
    padding: 5rem;
}
.home_btn {
width: 100%;
height: auto;
display: flex;
}
.home_btn .left{
    width: 30%;
    height: auto;
 }
 .home_btn .right{
     width: 50%;
     height: auto;
 }
 /* ********************************membership***************************************** */
 .membership{
    width: 100%;
    height: auto;
    background: url('https://images.pexels.com/photos/2983102/pexels-photo-2983102.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size:cover;
}
.mem_text {
    padding: 20rem 0;
}

.text_div{
    width: 100%;
    height: auto;
}
.quote{
    padding: 10rem 0;
    background:no-repeat center center scroll ;
    background-size: 25rem;
}
.text_div .main-heading{
    color: rgb(211, 92, 92);
    font-family: 'Lobster', cursive;
}
/* ******************************************about**************************************** */
.about{
    width: 100%;
    height: auto;
    background-color: rgb(95, 1, 1);
    padding: 5rem 0;
}

.about .main-heading{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.about hr{
    color: orange;
}
.about li a{
    text-decoration: none;
}
.touch .flex{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 2rem;
    padding-right: 5rem;
}
.touch .flex .left {
    width: 70%;
    height: auto;
}
.touch .flex .left input {
    width: 100%;
    height: auto;
    padding: 1rem 0rem 1rem 1rem;
    border: 1px solid white;
    outline: none;
}
.touch .flex .right {
    width: 30%;
    height: auto;
}
.touch .flex .right button{
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    color: rgb(8, 8, 8);
    border:1px solid yellow;
    outline: none;
    font-size: 1.73rem;
}

.flex .left input::placeholder{
    font-size:1.5rem;
}
.service-icons{
    width: 15%;
    height: auto;
    margin: 1rem;
}
.service-text{
    width: 85%;
    height: auto;
}
/* ********************************footer***************************** */
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(192, 20, 20);
    padding: 3rem 0rem 1rem 0rem;
}
.footer .main-heading{
    font-size: 3.5rem;
}
.footer a i{
    margin: 0.5rem;
}
.footer a i:hover{
    transition: all 3s;
    animation: rotatefont 1s linear infinite alternate-reverse;
    color: white;
}
@keyframes rotatefont{
    0%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1.2);
    }
}

/* ***********************************************MOBILE  QUERY************************* */
@media (max-width: 998px){

    /* ***************carousel strt********************* */
    .hero-section{
        padding: 6rem 3rem ;
        height: 40vh;
    }
    .main-heading{
        font-size: 3rem;
    }
    .main-para{
        font-size: 1.7rem;
    }
    .main-btn{
        font-size: 1.5rem;
        padding: .7rem 2rem;
    }
    /* ***************carousel end ********************* */
    .home_btn .left{
        width: 50%;
        height: auto;
    }
}
